obj
objd
QLogs
QLocal
logs
out/
/target/*
/private/packages/**

*proj.projhash
*proj.projhash.userData
*proj.projhash.userData.assemblies
*.slnhash
*.slnhash.userData
*.slnhash.userData.assemblies
*.suo
*.vs

/private/ClientCenter/DB/Source/Notification/UnitTests/CCDBNotification.sln
/private/ClientCenter/MT/Source/ClientCenter/Service/ClientCenter.MT.Service.sln
/private/ClientCenter/MT/Source/ClientCenter/CCMT.sln
/private/ClientCenter/MT/Tests/CCMTTests.sln
/private/ClientCenter/MT/Source/MessageCenter/dirs.sln

buildd.dbb
buildd.log
buildd.evt
buildd.prf

msbuild.log

/public/inc/sources.ver
/public/inc/bldver.h
/public/inc/bldver.vb
/public/inc/bldver.cs
/public/inc/bldver.cpp
/data/versions.xml
/build_logs/binplace.log
/build_logs/buildname.txt

/private/ClientCenter/MT/Source/ClientCenter/ODataClientCenter/bin
/private/ClientCenter/MT/Source/ClientCenter/ODataClientCenter/ODataClientCenterTest/bin
*.err
*.rec
*.wrn
*.trc
*.Cache
private/ClientCenter/MT/Source/API/v8/CustomerManagement/src/ClientCenter.Api.Service.Msf/
private/ClientCenter/MT/Source/API/v8/Notifications/src/MessageCenter.Api.Service.Msf/
private/ClientCenter/MT/Source/Billing/Deploy/
private/ClientCenter/MT/Source/ClientCenter/packages/
private/ClientCenter/MT/Source/MessageCenter/MessageManager/Localization/
*.wixobj
private/ClientCenter/MT/Source/ClientCenter/pingme.txt
*.tracelog
*.tt
/private/ClientCenter/MT/Source/ClientCenter/Service/packages

#Exclude nuget packages folders
packages
#ignore envkeep.txt
build/envkeep.txt
*.dbmdl
*.jfm
*.sqlproj.user

__cacheOutput/
builder_log/
VersionGeneration/
QuickBuild.log
dirs.sln

__cacheOutput/
private/Billing/Pipelines/Misc/Local/
builder_log/BuilderCache.log
QuickBuild.log
VersionGeneration/sources
*ScopeCompilerTrace.log
[Dd]ebug/
LocalDebug/
private/Billing/Pipelines/Restatement/RestatementWorkflows/Packages/
private/Billing/Pipelines/TransporterDB/TransporterDB.dbmdl
private/Billing/Pipelines/TransporterDB/TransporterDB.jfm
private/Billing/Pipelines/TransporterDB/TransporterDB.sqlproj.user
private/Billing/Pipelines/Utility/Utility.csproj.user
*scopeproj.user
builder_log/*
private/Billing/Pipelines/Restatement/RestatementScripts/local/*
*.csproj.user
packages/
private/Billing/Test/Tests/BillingBVT/Microsoft.BingAds.Tests.BillingBVT.sln
private/ClientCenter/MT/Source/Backup/
*.orig
*.sln
NuGet.config
*.coverage
private\Common\CSSChatAnalysis\FrontEnd\__pycache__\model.cpython-36.pyc
private\Common\CSSChatAnalysis\FrontEnd\__pycache__\helperFunctions.cpython-36.pyc
private\Common\CSSChatAnalysis\FrontEnd\w2v_stemmed_model
private\Common\CSSChatAnalysis\FrontEnd\outputAgglomerativev1.pkl
private/Common/CSSChatAnalysis/FrontEnd/flask/
private/Common/CSSChatAnalysis/FrontEnd/__pycache__/
private/Common/CSSChatAnalysis/__pycache__/
private/Common/CSSChatAnalysis/.ipynb_checkpoints/
private/Common/CSSChatAnalysis/test.pkl
private/Common/CSSChatAnalysis/w2v_stemmed_model
private/Common/CSSChatAnalysis/FrontEnd/IssueCodes.csv
private/Common/CSSChatAnalysis/FrontEnd/AllIssueCodes.json
private/Common/CSSChatAnalysis/FrontEnd/AllIssueCodesCount.txt

#Anomaly Detection
/private/ClientCenter/MT/Tests/AnomalyDetection/**/bin
/private/ClientCenter/MT/Tests/AnomalyDetection/**/release
!/private/ClientCenter/MT/Tests/AnomalyDetection/*.sln
*.trx
packages.lock.json
appsettings.Development.json
NuGetAssetsLock.props
*.prf
private/ClientCenter/MT/Source/ClientCenter/Service/Properties/launchSettings.json
private/vNEXT/ABExperiment/Portal/.npmrc
bin/
Visual Studio 2019/
private/ClientCenter/MT/Source/MessageCenter/NotificationVnext/NotificationService/Localization/_LBA.WKSP/

#Azure function
local.settings.json
launchSettings.json

private/AnBCommon/docker/BaseImage/cert/
private/AnBCommon/docker/devops/WinAgent/cert/
.tmp.certs/

# redis database file
*.rdb

!Microsoft.BingAds.AnB.AccountIdentityVerification.sln
!Microsoft.Advertising.Billing.Budget.sln
!RunLstHelper.sln

*.tgz
charts/
Chart.lock

.ignore/
build/GlobalPackages/tmp/
*/tmp/*

#docker
env